body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #0b3b2e;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/* Menu Button */
.menu-btn {
  font-size: 20px;
  background: #056854;
  color: #fff;
  padding: 3px 8px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1001;
  flex-shrink: 0;
  margin-right: 30px;
  
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 10px;
  left: -360px;
  width: 260px;
  height: 60%;
  background: #00332d;
  color: #fff;
  padding: 20px;
  transition: 0.3s ease;
  z-index: 1000;
  border-radius: 10px;
}

.side-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}

.side-menu a:hover {
  color: #1abc9c;
}

.side-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
}

/* Active */
.side-menu.active {
  left: 0;
}

/* Push content slightly on open (optional) */
body.menu-open {
  overflow: hidden;
}



    .header {
        text-align: center;
        padding: 2px;
        font-size: 20px;
        font-weight: bold;
    }

     hr{
         width: 100%;    
         color: white;
         margin: 1.2rem 0.5rem;             
     }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-right: 75px;
        width: 100%;
        position: relative;
    }
     .search-container input {
        width: 45%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 16px;
        text-align: center;
        opacity: 100%;   
    }

    .clear-btn {
      position: absolute;
      margin-right: -180px;
      margin-top: 20px;
      transform: translateY(-50%);
      font-size: 20px;
      color: #888;
      cursor: pointer;
      display: none; /* Hidden by default */
    }

    .table-wrapper {
        overflow-x: auto;
        width: 95%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
        white-space: nowrap;
        border: 2px; 
        margin-bottom: 30px;
        margin-top: 10px; 
        border-color:white;
        align-self: center;             
    }
    th, td {
        border: 1px solid #0b3b2e;
        padding: 10px;
        text-align: left;
        color: #0b3b2e;
        font-weight: bold;    
    }

    th.title {
        font-size: 1.5rem;
        font-weight: bold;
        background-color: white;
        color: #0b3b2e;    
    }

    th {
        background-color: #0b3b2e;
        color: white;
        border: 1px solid white;
    }

    .disqualified {
        color: red;
        font-weight: bold;
        animation: blink 3s infinite;
        text-decoration: none;
    }

        @keyframes blink {
        0%, 50%, 100% {
        opacity: 1;
  }
        25%, 75% {
        opacity: 0;
    }
  }

      .resigned {
        color: black;
        font-weight: bold;
        animation: blink 3s infinite;
        text-decoration: none;
    }

        @keyframes blink {
        0%, 50%, 100% {
        opacity: 1;
  }
        25%, 75% {
        opacity: 0;
    }
  }
            
    tbody tr:nth-child(even) {
        background-color: #a8c9a1;
    }

    tbody tr:nth-child(odd) {
        background-color: #d9e8d3;
    }

    .logo {
        width: 45px;
        height: 45px;
        padding: 10px;
    }

    .table-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
        overflow: visible;
    }




    /* Footer Styling */
.footer {
  background: #00332d;
  color: #ddd;
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  gap: 10px;
}

.footer h2 {
  color: white;
  margin-bottom: 10px;
  margin-top: 15px;      
  font-size: 22px;
}

.footer h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px;      
  border-left: 3px solid #1abc9c;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #1abc9c;
}

/* Divider */
.divider {
  border-top: 1px solid #fff;
  margin: 15px auto;
  max-width: 1100px;
}

/* Bottom bar */
.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-top: 25px;
}



    .go-back {
      display:inline-block;
      margin-top:0.5rem;
      padding:0.5rem 1rem;
      text-decoration:none;
      text-transform:uppercase;
      font-weight:600;
      border:1.5px solid #0b3b2e;
      border-radius:6px;
      background:transparent;
      color:#0b3b2e;
      cursor:pointer;
            
    }
    .go-back:hover {
        background-color: #45a049;
    }
