body {
    font-family: Arial, sans-serif;
    background-color: #0b3b2e;
    margin: 0;
    padding: 0;
}

.rules-container {
    background-color: #f2faee;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rules-title {
    font-size: 25px;
    font-weight: bold;
    color: #0b3b2e;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: underline;
}

.rules-section {
    margin-bottom: 30px;
}

.rules-subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #0b3b2e;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.rules-list {
    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    padding-left: 20px;
}

.rules-list li {
    margin-bottom: 10px;
}

a.go-back{
      display:inline-block;
      margin-top:1.25rem;
      padding:0.5rem 1rem;
      text-decoration:none;
      text-transform:uppercase;
      font-weight:600;
      border:1.5px solid #0b3b2e;
      border-radius:6px;
      background:transparent;
      color:#0b3b2e;
      cursor:pointer;
          
    }

    a.go-back:active{ 
      transform:translateY(1px);
    }
